{% extends 'base.html.twig' %}
{% block title %}Ajouter Formation{% endblock %}

{% block content %}
    <br>
    <br>
    <main class="container">

        <div class="row" >
            <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header primary">
                <h1 style="background-color: blue" align="center">Ajouter Formation</h1><br></div>

<div class="card-body">

    {{ form_start(form) }}

    {{ form_widget(form) }}


    <button type="submit" class="btn-primary">Créer</button>

    {{ form_end(form) }}
        </div>
            </div>
        </div>
    </main>

{% endblock %}

