{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Rate Company {{ company.companyName }}</h4>
                    <div class="count">
                    </div>
                </div>
                <div class="card-body">

                    <form method="post">
                        <div class="row col-6 d-flex justify-content-center">

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="jp_adp_form_wrapper">
                                    <input type="text" class="form-control" name="title" placeholder="title*" required="required"/>
                                </div>
                                <style>
                                    .rating {
                                        display: inline-block;
                                        position: relative;
                                        height: 50px;
                                        line-height: 50px;
                                        font-size: 50px;
                                    }

                                    .rating label {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 100%;
                                        cursor: pointer;
                                    }

                                    .rating label:last-child {
                                        position: static;
                                    }

                                    .rating label:nth-child(1) {
                                        z-index: 5;
                                    }

                                    .rating label:nth-child(2) {
                                        z-index: 4;
                                    }

                                    .rating label:nth-child(3) {
                                        z-index: 3;
                                    }

                                    .rating label:nth-child(4) {
                                        z-index: 2;
                                    }

                                    .rating label:nth-child(5) {
                                        z-index: 1;
                                    }

                                    .rating label input {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        opacity: 0;
                                    }

                                    .rating label .icon {
                                        float: left;
                                        color: transparent;
                                    }

                                    .rating label:last-child .icon {
                                        color: #000000;
                                    }

                                    .rating:not(:hover) label input:checked ~ .icon,
                                    .rating:hover label:hover input ~ .icon {
                                        color: #2e55fa;
                                    }

                                    .rating label input:focus:not(:checked) ~ .icon:last-child {
                                        color: #000000;
                                        text-shadow: 0 0 5px #2e55fa;
                                    }
                                </style>

                                <div class="rating">
                                    <label>
                                        <input type="radio" name="stars" value="1" />
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="2" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="3" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="4" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="5" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                </div>
                            </div>



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div style="padding-top: 0px" class="jp_adp_textarea_main_wrapper">
                                    <textarea class="form-control" placeholder="your description ...*" name="description" required="required"></textarea>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-4">
                                <div class="d-flex justify-content-center">


                                            <button type="submit" class="btn btn-primary">
                                                Rate
                                            </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}









