<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title> New order </title>
    </head>
    <body>
        <h1>Order Notify</h1>
        <h1>Votre commande a été bien prise en compte</h1>
    </body>
</html>