{% extends 'baseback.html.twig' %}

{% block contentHeader %}
           <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('back_end') }}">Home</a></li>
            <li class="breadcrumb-item active">Store Management</li>
            <li class="breadcrumb-item active">Order</li>
            <li class="breadcrumb-item active">Edit Order</li>
          </ul>
        </div>
      </div>
{% endblock %}

{% block content %}


            <div class="card-header d-flex align-items-center">
                <h4>Fill the form to edit the order</h4>
            </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

{% endblock %}