{% extends 'base.html.twig' %}


{% block stylesheet %}

      <link rel="stylesheet" type="text/css" href=" {{ asset('frontOffice/shop/css/bootstrap.min.css') }} ">{% endblock %}
 

{% block content %}
    <h1>  Error occured while processing payment!!!</h1>
{% endblock %}
