{% extends 'base.html.twig' %}
{% block content %}
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle"
      style="background-image:url(images/banner/bnr1.jpg);">
      <div class="container">
        <div class="dez-bnr-inr-entry">
          <h1 class="text-white">
            Browse Jobs List
          </h1>
          <!-- Breadcrumb row -->
          <div class="breadcrumb-row">
            <ul class="list-inline">
              <li><a href="#">Home</a></li>
              <li>Browse Jobs List</li>
            </ul>
          </div>
          <!-- Breadcrumb row END -->
        </div>
      </div>
    </div>
    <!-- inner page banner END -->
    <!-- Filters Search -->
    <div class="section-full browse-job-find">
      <div class="container">
        <div class="find-job-bx">
          <form class="dezPlaceAni"
            id="myForm"
            method="POST"
            action="{{ path('search') }}">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="form-group">
                  <label>Job Title, Keywords, or Phrase</label>
                  <div class="input-group">
                    <input type="text"
                      name="titre"
                      class="form-control"
                      placeholder="" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-search"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="form-group">
                  <label>City, State or ZIP</label>
                  <div class="input-group">
                    <input type="text"
                      name="location"
                      class="form-control"
                      placeholder="" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-map-marker"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="form-group">
                  <label>Categorie</label>
                  <div class="input-group">
                    <input type="text"
                      name="secteur"
                      class="form-control"
                      placeholder="" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-map-marker"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6">
                <button type="submit"
                  href="{{ path('search') }}"
                  class="site-button btn-block"
                  id="button_save">
                  Find Job
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Filters Search END -->
    <!-- contact area -->
    <div style="margin-left: 170px; margin-right:1000px;margin-top:0px;margin-bottom:0px;">
      <form id="filters">
        <p>
          <input type="text"
            name="searchaj"
            id="searchaj"
            class="form-control"
            placeholder="search by name" />
        </p>
      </form>
    </div>
    <div class="content-block" id="content">
      {% include 'offre_emploi/content.html.twig' %}
    </div>
  </div>
  <!-- Content END -->
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('frontOffice/js/filters.js') }}"></script>
{% endblock %}
